<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" style="color: orange;" href="#">Observatorio del Mercado Inmobiliario del <br> Área Metropolitana de Cochabamba</a>
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse">
        <form class="form-inline my-2 my-lg-0">
            <div style="width: 100px;"></div>
            <!--input class="form-control mr-sm-2" type="text" placeholder="{{ 'Search' | translate }}" -->
        </form>
        &nbsp;<a [routerLink]="['/quienes-somos']" [routerLinkActive]="['router-link-active']" class="stilo-hd">
            <i class="fa fa-users"></i>{{ 'Quienes Somos' | translate }}
        </a>&nbsp;
        &nbsp;<a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="stilo-hd">
            <i class="fa fa-gears"></i>{{ 'Google Map' | translate }}
        </a>&nbsp;
        &nbsp;<a [routerLink]="['/statistics-page']" [routerLinkActive]="['router-link-active']" class="stilo-hd">
            <i class="fa fa-line-chart"></i>{{ 'Estadisticas' | translate }}
        </a>&nbsp;
        &nbsp;<a [routerLink]="['']" [routerLinkActive]="['router-link-active']" class="stilo-hd">
            <i class="fa fa-handshake-o"></i>{{ 'Metodologia' | translate }}
        </a>&nbsp;
        &nbsp;<a [routerLink]="['']" [routerLinkActive]="['router-link-active']" class="stilo-hd">
            <i class="fa fa-info-circle"></i>{{ 'Informe General' | translate }}
        </a>&nbsp;
        
        
    </div>
</nav>
