<br>
<h2>
    ESTADISTICAS
</h2>
<div>
    Primero debe elegir una mes y año que quiere revisar, seguido de los filtros que quiera utilizar
    <br>
</div>
<h4>
    Elegir Fecha
</h4>
<div>
    <select [(ngModel)]="month" (ngModelChange)="onMonthChange($event)">
        <option *ngFor="let month of this.months" [value]="month.num">{{month.nombre}}</option>
    </select>

    <select [(ngModel)]="year" (ngModelChange)="onYearChange($event)">
        <option *ngFor="let year of this.years" [value]="year">{{year}}</option>
    </select>
</div>
<h4>
    Elegir Filtros
</h4>
<div>
    <fieldset style="position: absolute;" class="form-group">
        <label>Division</label>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="completo" value="option1" checked="" (change)="radioButtonChange($event)"> Municipio
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="distritos" value="option2" (change)="radioButtonChange($event)"> Distritos
            </label>
        </div>
    </fieldset>&nbsp;
    <fieldset style="position: absolute;margin-left:100px;" class="form-group">
        <label>Sección</label>
        <div class="radio">
            <label>
                <input type="radio" name="options2" id="casa" value="option1" checked="" (change)="setseccion($event)"> Casa
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="options2" id="dept" value="option2" (change)="setseccion($event)"> Departamento
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="options2" id="lote" value="option3" (change)="setseccion($event)"> Lote
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="options2" id="local" value="option4" (change)="setseccion($event)"> Local
            </label>
        </div>
    </fieldset>&nbsp;
    <fieldset style="position: static; margin-left:250px;" class="form-group">
        <label>Tipo</label>
        <div class="radio">
            <label>
                <input type="radio" name="options3" id="alquiler" value="option1" checked="" (change)="settipo($event)"> Alquiler
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="options3" id="venta" value="option2" (change)="settipo($event)"> Venta
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="options3" id="anti" value="option3" (change)="settipo($event)"> Anticrético
            </label>
        </div>
    </fieldset>&nbsp;
</div>
<div>
    <br>Para ver estadisticas y graficos de un {{this.filtro}} elija un {{this.filtro}} en el Dropdown y presione el boton ESTADISTICAS
    <br> Para comparar estadisticas elija en ambos Dropdown y presione el boton COMPARAR
    <br> Para sacar el reporte de estadisticas solo presione el boton REPORTE
</div>
<h4>Elegir {{this.filtro}}</h4>
<div>
    <select *ngIf="!flagDist" [(ngModel)]="selectedOption1.name">
        <option *ngFor="let municipio of this.municipios" [value]="municipio.nombre">{{municipio.nombre}}</option>
    </select>

    <select *ngIf="flagDist" [(ngModel)]="selectedOption1.name">
        <option *ngFor="let distrito of this.distritos" [value]="distrito.nombre">{{distrito.nombre}}</option>
    </select>

    <select *ngIf="!flagDist" style="margin-left:20px " [(ngModel)]="selectedOption2.name">
        <option *ngFor="let municipio of this.municipios" [value]="municipio.nombre">{{municipio.nombre}}</option>
    </select>
    <select *ngIf="flagDist" style="margin-left:20px" [(ngModel)]="selectedOption2.name">
        <option *ngFor="let distrito of this.distritos" [value]="distrito.nombre">{{distrito.nombre}}</option>
    </select>
</div>

<br>
<div>
    <button class="btn btn-primary" style="height: 40px;" (click)="cargarDatos()">ESTADISTICAS</button>
    <button class="btn btn-primary" style="margin-left:20px; height: 40px;" (click)="cargarComparar()">COMPARAR</button>
    <button class="btn btn-primary" style="margin-left:40px; height: 40px;" (click)="cargarReport()">REPORTE</button>
    <button class="btn btn-primary" style="margin-left:40px; height: 40px;" (click)="getaviYears()">REPORTE ANUAL</button>
</div>
<br>

<div *ngIf="compareFlag">
    <div>
        <h3>Comparacion entre {{selectedOption1.name}} y {{selectedOption2.name}}</h3>
    </div>
    <div class="col col-sm-6">
        <div class="card mb-3">
            <div class="card-header">Estadisticas</div>
            <div class="card-body table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>nombre</th>
                            <th>Media</th>
                            <th>Moda</th>
                            <th>Mediana</th>
                            <th>Minimo</th>
                            <th>Maximo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">{{selectedOption1.name}}</th>
                            <td>{{selectedOption1.media}}</td>
                            <td>{{selectedOption1.moda}}</td>
                            <td>{{selectedOption1.mediana}}</td>
                            <td>{{selectedOption1.minimo}}</td>
                            <td>{{selectedOption1.maximo}}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{selectedOption2.name}}</th>
                            <td>{{selectedOption2.media}}</td>
                            <td>{{selectedOption2.moda}}</td>
                            <td>{{selectedOption2.mediana}}</td>
                            <td>{{selectedOption2.minimo}}</td>
                            <td>{{selectedOption2.maximo}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div *ngIf="reportFlag">
    <div>
        <h3>REPORTE</h3>
    </div>
    <div class="col col-sm-6">
        <div class="card mb-3">
            <div class="card-header">Estadisticas</div>
            <div class="card-body table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>{{this.filtro}}</th>
                            <th>Media</th>
                            <th>Moda</th>
                            <th>Mediana</th>
                            <th>Minimo</th>
                            <th>Maximo</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="!flagDist">
                        <tr *ngFor="let municipio of this.municipios">
                            <th>{{municipio.nombre}}</th>
                            <td>{{municipio.media}}</td>
                            <td>{{municipio.moda}}</td>
                            <td>{{municipio.mediana}}</td>
                            <td>{{municipio.minimo}}</td>
                            <td>{{municipio.maximo}}</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="flagDist">
                        <tr *ngFor="let distrito of this.distritos">
                            <th>{{distrito.nombre}}</th>
                            <td>{{distrito.media}}</td>
                            <td>{{distrito.moda}}</td>
                            <td>{{distrito.mediana}}</td>
                            <td>{{distrito.minimo}}</td>
                            <td>{{distrito.maximo}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<br>
<div [@routerTransition] *ngIf="statisticsFlag">
    <div>
        <h3>Estadisticas de {{selectedOption1.name}}</h3>
    </div>
    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">Estadistica por Seccion de Mercado en {{this.filtrotipo}}($)</div>
                <div class="card-body table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th> </th>
                                <th>Media</th>
                                <th>Moda</th>
                                <th>Mediana</th>
                                <th>Maximo</th>
                                <th>Minimo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Lote</th>
                                <td>{{this.getMedia(this.selectedOption1.name,this.filtrotipo,"lote")}}</td>
                                <td>{{this.getModa(this.selectedOption1.name,this.filtrotipo,"lote")}}</td>
                                <td>{{this.getMediana(this.selectedOption1.name,this.filtrotipo,"lote")}}</td>
                                <td>{{this.getMax(this.selectedOption1.name,this.filtrotipo,"lote")}}</td>
                                <td>{{this.getMin(this.selectedOption1.name,this.filtrotipo,"lote")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Departamentos</th>
                                <td>{{this.getMedia(this.selectedOption1.name,this.filtrotipo,"departamento")}}</td>
                                <td>{{this.getModa(this.selectedOption1.name,this.filtrotipo,"departamento")}}</td>
                                <td>{{this.getMediana(this.selectedOption1.name,this.filtrotipo,"departamento")}}</td>
                                <td>{{this.getMax(this.selectedOption1.name,this.filtrotipo,"departamento")}}</td>
                                <td>{{this.getMin(this.selectedOption1.name,this.filtrotipo,"departamento")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Casas</th>
                                <td>{{this.getMedia(this.selectedOption1.name,this.filtrotipo,"casa")}}</td>
                                <td>{{this.getModa(this.selectedOption1.name,this.filtrotipo,"casa")}}</td>
                                <td>{{this.getMediana(this.selectedOption1.name,this.filtrotipo,"casa")}}</td>
                                <td>{{this.getMax(this.selectedOption1.name,this.filtrotipo,"casa")}}</td>
                                <td>{{this.getMin(this.selectedOption1.name,this.filtrotipo,"casa")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Locales</th>
                                <td>{{this.getMedia(this.selectedOption1.name,this.filtrotipo,"local_comercial")}}</td>
                                <td>{{this.getModa(this.selectedOption1.name,this.filtrotipo,"local_comercial")}}</td>
                                <td>{{this.getMediana(this.selectedOption1.name,this.filtrotipo,"local_comercial")}}</td>
                                <td>{{this.getMax(this.selectedOption1.name,this.filtrotipo,"local_comercial")}}</td>
                                <td>{{this.getMin(this.selectedOption1.name,this.filtrotipo,"local_comercial")}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">Estadistica Por Tipo de Adquisicion en {{this.filtrosec}}</div>
                <div class="card-body table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th> </th>
                                <th>Media</th>
                                <th>Moda</th>
                                <th>Mediana</th>
                                <th>Maximo</th>
                                <th>Minimo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Alquiler</th>
                                <td>{{this.getMedia(this.selectedOption1.name,"alquiler",this.filtrosec)}}</td>
                                <td>{{this.getModa(this.selectedOption1.name,"alquiler",this.filtrosec)}}</td>
                                <td>{{this.getMediana(this.selectedOption1.name,"alquiler",this.filtrosec)}}</td>
                                <td>{{this.getMax(this.selectedOption1.name,"alquiler",this.filtrosec)}}</td>
                                <td>{{this.getMin(this.selectedOption1.name,"alquiler",this.filtrosec)}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Venta</th>
                                <td>{{this.getMedia(this.selectedOption1.name,"venta",this.filtrosec)}}</td>
                                <td>{{this.getModa(this.selectedOption1.name,"venta",this.filtrosec)}}</td>
                                <td>{{this.getMediana(this.selectedOption1.name,"venta",this.filtrosec)}}</td>
                                <td>{{this.getMax(this.selectedOption1.name,"venta",this.filtrosec)}}</td>
                                <td>{{this.getMin(this.selectedOption1.name,"venta",this.filtrosec)}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Anticretico</th>
                                <td>{{this.getMedia(this.selectedOption1.name,"anticretico",this.filtrosec)}}</td>
                                <td>{{this.getModa(this.selectedOption1.name,"anticretico",this.filtrosec)}}</td>
                                <td>{{this.getMediana(this.selectedOption1.name,"anticretico",this.filtrosec)}}</td>
                                <td>{{this.getMax(this.selectedOption1.name,"anticretico",this.filtrosec)}}</td>
                                <td>{{this.getMin(this.selectedOption1.name,"anticretico",this.filtrosec)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Grafico de Barras
                </div>
                <div class="card-body">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [legend]="barChartLegend" [chartType]="barChartType">
                    </canvas>
                </div>
            </div>
        </div>

        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Grafico Radar
                </div>
                <div class="card-body">
                    <canvas baseChart height="150px" [datasets]="radarChartData" [labels]="radarChartLabels" [chartType]="radarChartType">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Grafico de Pie - Cantidad Seccion/Tipo
                </div>
                <div class="card-body">
                    <canvas baseChart height="150px" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Grafico de Area - Cantidad Seccion/Tipo
                </div>
                <div class="card-body">
                    <canvas baseChart height="130px" [data]="polarAreaChartData" [labels]="polarAreaChartLabels" [legend]="polarAreaLegend" [chartType]="polarAreaChartType">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>