<br>
<div>
  La obtención de información y su exposición siguió la siguiente metodología:
  <br>
  <h3>Web scraping</h3>
  <ul>
    <li>
      El CIAU identificó una serie de páginas web cuya información incluye la oferta de información sobre la venta, alquiler y anticrético de bienes inmuebles en el área metropolitana de Cochabamba. </li>
    <li> Se desarrolló un servicio web informático que analiza esta información, la captura cada dos semanas, la almacena en un repositorio virtual UPB para su posterior organización y sistematización.
    </li>
  </ul>
  <h3>Sistematización y análisis.</h3>
  <ul>
    <li> La información encontrada y almacenada en el repositorio virtual UPB es organizada en función a variables tipos de oferta, precios y localización, sobre las cuales se construyen rangos de precios generales.
    </li>
    <li>
      El análisis consiste en ...
      </li>
  </ul>
  <h3>Exposición</h3>
  <ul>
    <li> Esta información es expuesta a través de mapas de municipios, distritos municipales y barrios u OTBs construidos a través de sistemas de información geográfica (QGIS), mediante información cartográfica compilada de diversas fuentes y visibilizada mediante la utilización del servicio de Google Maps </li>
    <li> Cabe indicar que esta información cartográfica es de carácter referencial <b><i>no oficial</i> </b> porque no existe fuente institucional que disponga información a nivel municipal, distrital o barrios con límites saneados, por lo cual ésta sólo deber ser tomada como referencia.
    </li>
    <li>
      Los mapas muestran de acuerdo a diferentes filtros (sección, tipo, división geográfica y estadística) una intensidad de color creciente, según la cantidad de oferta o la variación de precios. Las jurisdicciones sin color (transparente) representan la ausencia de datos para esa jurisdicción.
      </li>
  </ul>
  <h3>Generación de informes</h3>
  <ul>
    <li> La generación de informes es posible a través de la recopilación de datos que son visualizados utilizando tablas, gráficos estadísticos (pie chart, bars y radar)</li>
   </ul>
</div>
