
<h1>
  LOGO CIAU
</h1>
<div>
El Observatorio Inmobiliario (OMI) WEB del área metropolitana de Cochabamba es una iniciativa del <a href="http://www.upb.edu/ciau">Centro de Investigaciones en Arquitectura y Urbanismo – CIAU </a> en colaboración con el <a href="http://www.upb.edu/cinti">Centro de Investigaciones de Nuevas Tecnologías Informáticas – CINTI</a> de la <a href="http://www.upb.edu/">Universidad Privada Boliviana (UPB) </a>

</div>
<br>
<div>
  Su objetivo es transparentar y difundir de forma permanente, información actualizada alrededor de la dinámica inmobiliaria y su mercado en el área metropolitana de Cochabamba respecto a la oferta de inmuebles, sus variables y sus características.
</div>
<br>
<div>
  El equipo de desarrollo está conformado por:
  <ul>
    <li>
      Lucía Téllez - Investigadora responsable (CIAU)
    </li>
    <li>
      Marwin Torrez - Desarrollador/colaborador (CINTI)
    </li>
    <li>
      Gabriel Perez - Desarrollador/colaborador (CINTI)
    </li>
    <li>
      Juan E. Cabrera - Director (CIAU)
    </li>
    <li>
      Alex Villazón - Director (CINTI)
    </li>
      
    </ul>
  
</div>
