agm-map {
  height: 500px;
  width: 1000px;
}
div.box {
    background-color : white;
    width: 300px;
    border: 5px solid black;
    margin: 25px;
    position: absolute;
}

p.marg{
    margin-top: 20px;
    font-size: 20px;
    color: black; 
}
p.sc{
    font-size: 20px;
    color: black; 
}

.nested-menu {
    .list-group-item {
        cursor: pointer;
        border: 0;
        border-color: white;
        border-radius: 1;
        color: #999;
        text-decoration: none;
    }
    .nested {
        list-style-type: none;
    }
    ul.submenu {
        display: none;
        height: 0;
    }
    & .expand {
        ul.submenu {
            display: block;
            list-style-type: none;
            height: auto;
            li {
                a {
                    color: black;
                    padding: 10px;
                    display: block;
                }
            }
        }
    }
}

