<div>
	<p class="marg">Mapa genial</p>
</div>

<div class="row">
	<agm-map [latitude]="lat" [longitude]="lng" [mapTypeId]= "'satellite'" (mapClick)="click($event)" [zoom]="13">
        <div *ngIf='!otbsFlag && !distritosFlag'>
        <agm-polygon *ngFor="let municipio of municipios" [fillColor]="'#0000FF'"
               [fillOpacity]="municipio.intensidad" [paths]="municipio.puntos"
               [strokeColor]="'#FFFFFF'" [strokeOpacity]="0.9" [strokeWeight]="2"
               [visible]="true" (polyClick)="clicked(municipio.nombre)" [zIndex]="1"></agm-polygon>
        </div>
        <div *ngIf='otbsFlag' >
        <agm-polygon *ngFor="let municipio of otbs" [fillColor]="'#0000FF'"
               [fillOpacity]="municipio.intensidad" [paths]="municipio.puntos"
               [strokeColor]="'#FFFFFF'" [strokeOpacity]="0.9" [strokeWeight]="2"
               [visible]="true" (polyClick)="clicked(municipio.nombre)" [zIndex]="1"></agm-polygon>
        </div>
        <div *ngIf='distritosFlag'>
        <agm-polygon *ngFor="let municipio of distritos" [fillColor]="'#0000FF'"
               [fillOpacity]="municipio.intensidad" [paths]="municipio.puntos"
               [strokeColor]="'#FFFFFF'" [strokeOpacity]="0.9" [strokeWeight]="2"
               [visible]="true" (polyClick)="clicked(municipio.nombre)" [zIndex]="1"></agm-polygon>
        </div>
    </agm-map>&nbsp;
    
    <div class="box"> 
        <p class="sc">{{variablefiltrada}} <br>
        Media: {{mediafiltrada}}</p>
     </div>

        <fieldset class="form-group">
            <label>MAPA</label>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="completo" value="option1" checked="" (change)="radioButtonChange($event)"> Completo
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="distritos" value="option2" (change)="radioButtonChange($event)"> Distritos
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="otbs" value="option3" (change)="radioButtonChange($event)"> OTB's
                </label>
            </div>
        </fieldset>&nbsp;
        <fieldset class="form-group2">
            <label>Estadisticas</label>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRad" id="media" value="option1" checked="" (change)="setestadistica($event)"> Media
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRad" id="moda" value="option2" (change)="setestadistica($event)"> Moda
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRad" id="mediana" value="option3" (change)="setestadistica($event)"> Mediana
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRad" id="max" value="option4" (change)="setestadistica($event)"> Valor maximo
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRad" id="min" value="option5" (change)="setestadistica($event)"> Valor minimo
                </label>
            </div>
        </fieldset>&nbsp;

         
</div>
